<h2>User info</h2>
<p>image</p>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<p>name</p>
<p><%= user.name %></p>
<p>introduction</p>
<p><%= @user.introduction %></p>

<%= link_to"edit", edit_user_path(current_user.id)%>

