<% if flash[:notice] %>
 　<div class="flash">
  <%= flash[:notice] %>
   </div>
 <% end %>

<h1>Welcome to Bookers!</h1>
<p>you can share and exchange your opinions , inpressions , and emotions

about varioius books!</p>

<%= link_to 'sign in', new_user_session_path,class: "btn btn-default"%>
<br>
<%= link_to 'sign up', new_user_registration_path,class: "btn btn-default"%>