<%= flash[:success]%>

<h1>Welcome to Bookers!</h1>
<p>you can share and exchange your opinions , inpressions , and emotions

about varioius books!</p>

<%= link_to 'sign in', new_user_session_path %>
<br>
<%= link_to 'sign up', new_user_registration_path %>